.App {
  text-align: center;
  margin: auto;
  background-color: #4A69FF;
  min-height: auto;
}

.Title{
  color: white;
  padding-top: 6px;
}

.Line{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.BottomPage{
  color: white;
  font-size: small;
  padding-top: 20px;
  padding-bottom: 4px;
  text-align: center;
}